@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

body 	{ 

	background-color: #F2F2F2;
	font-family: 'Driod Serif', sans-serif;
	font-weight: 500;

}
h1		{
	font-family: 'Driod Serif', sans-serif;
	font-weight: 800;
}
h2		{
	font-family: 'Driod Serif', sans-serif;
	font-weight: 700;
}
p 		{
	font-family: 'Driod Serif', sans-serif;
	font-weight: 500;
}

ul 		{
	
	text-align: center;
	list-style-type: none;
}

#slogan {	

		font-style: italic;	
	}

#menu 	{	
	color: #ffffff;
	text-align: center;
	font-weight: bold;	
	}

body 	{
	width: 2500 px;
	margin: auto;
}